<%= form_for @tutorial do |f| %>
	<div class="field">
		<%= f.label :title %><br />
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :difficulty %><br />
		<%= f.select :difficulty, [["Easy", "1"], ["Medium", "2"], ["Hard", "3"]] %>
	</div>
	<div class="field">
		<%= f.label :description %><br />
		<%= f.text_area :description %>
	</div>
	<div class="field">
		<%= f.label :image %><br />
		<%= f.text_field :image %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>