<div class="top-right">
	<%= link_to image_tag('/images/icons/back.png') + 'Back to tutorial list', tutorials_path, { :class => "actionlink" } %>
	<%= link_to image_tag('/images/icons/edit.png') + 'Edit', edit_tutorial_path(@tutorial), { :class => "actionlink" } %>
	<%= link_to image_tag('/images/icons/delete.png') + 'Delete', tutorial_path(@tutorial), { :method => 'delete', :class => "actionlink" } %>
</div>

<h1><%= @tutorial.title %></h1>
<img class="tutorial_image" src="<%= root_url + @tutorial.image %>" alt="<%= @tutorial.title %>" /> 
<p>
	Difficulty : <%= @tutorial.difficulty%>
</p>
<p>
	<%= @tutorial.description %>
</p>
<table cellspacing="10">
	<tr>
		<td class="chapter">1</td>
		<td><h2>Chapitre 1</h2></td>
	</tr>
	<tr>
		<td class="chapter">2</td>
		<td><h2>Chapitre 2</h2></td>
	</tr>
</table>

<%= link_to 'View all chapters', tutorial_chapters_path(@tutorial) %>
