<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>MATHunter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<link rel="stylesheet" href="./styles/design.css">
</head>
<body>
	<header>
		<div class="website_center">
			<a id="website_name" href="#">MATHunter</a>
			<nav>
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Tutorial</a></li>
					<li><a href="#">Account</a></li>
				</ul>
			</nav>
		</div>
	</header>
	
	<section id="content">
		<div class="website_center">
			<div id="nav">
				<% if current_user %>
				  <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
				  <%= link_to "Logout", :logout, method: :post %>
				<% else %>
				  <%= link_to "Register", new_user_path %> |
				  <%= link_to "Login", :login %>
				<% end %>
			</div>
			<div>
				<p id="notice"><%= flash[:notice] %></p>
				<p id="alert"><%= flash[:alert] %></p>
			</div>
				
			<%= yield %>
		</div>
	</section>
	
	<footer>
		<div class="website_center">
			<a href="http://www.github.com/Chavjoh/MATHunter"><img src="./images/github.png" alt="Github" /></a>
			<span>Ruby on rails project</span>
			Chavaillaz Johan, Jupille Dany, Rossier Matthieu
		</div>
	</footer>
</body>
</html>
