<div class="top-right">
	<%= link_to image_tag('/images/icons/back.png') + 'Back to tutorial', tutorial_chapters_path(@tutorial), { :class => "actionlink" } %>
</div>

<h1><%= @tutorial.title %></h1>

<div id="tutorial">
	<div class="tab">
		<ul>
			<% @chapters.each do |chapter| %>
				<li <% if chapter.id == @chapter.id %>class="selected"<% end %>>
					<%= link_to chapter.title, tutorial_chapter_path(@tutorial, chapter) %>
				</li>
			<% end %>
		</ul>
	</div>
	<div class="content">
		<div class="top-right">
			<%= link_to image_tag('/images/icons/edit.png') + 'Edit', edit_tutorial_chapter_path(@tutorial, @chapter), { :class => "actionlink" } %>
			<%= link_to image_tag('/images/icons/delete.png') + 'Delete', tutorial_chapter_path(@tutorial, @chapter), { :method => 'delete', :class => "actionlink" } %>
		</div>
		<h2><%= @chapter.title %></h2>
		<p>
			<%= @chapter.content %>
		</p>
	</div>
</div>

<h2>Comments</h2>
<%= render @comments %>
<%= will_paginate @comments %>
<%= render 'comments/form' %>
