<!doctype html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<title>MATHunter</title>
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
	<link type="text/css" rel="stylesheet" href="<%= root_url %>plugins/walkthrough/css/jquery.pagewalkthrough.css"/>
	<link type="text/css" rel="stylesheet" href="<%= root_url %>styles/design.css"/>
	<script type="text/javascript" src="<%= root_url %>plugins/walkthrough/jquery.pagewalkthrough-1.1.0.js"></script>
	<script type="text/javascript" src="<%= root_url %>javascripts/application.walkthrough.js"></script>	
	<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    	tex2jax: {
    		inlineMath: [ ['$','$'], ['\\(','\\)'] ]
    	}
    });
	</script>
	<%= mathjax_tag :config => 'Accessible-full.js' %>
</head>
<body data-no-turbolink>
	<header>
		<div class="website_center">
			<div class="left_side">
				<a id="website_name" href="<%= root_url %>"><img src="<%= root_url %>images/logo.png" /></a>
				<% if current_user %>
					<span id="user_detail">
						Connected as <%=current_user.email%>
						<%= link_to "[Disconnect]", :logout %>
					</span>
				<% end %>
			</div>
			
			<nav>
				<ul>
					<li><a href="<%= root_url %>">Home</a></li>
					<li><%= link_to "Tutorials", tutorials_path %></li>
					<% if current_user %>
						<li><%= link_to "Account", edit_user_path(current_user.id) %></li>
					<% else %>
						<li><%= link_to "Login", :login %></li>
					<% end %>
					<li><%= link_to "About", :about %></li>
				</ul>
			</nav>
		</div>
	</header>
	
	<section id="content">
		<div class="website_center">
			<div>
				<p id="notice"><%= flash[:notice] %></p>
				<p id="alert"><%= flash[:alert] %></p>
			</div>
				
			<%= yield %>
		</div>
	</section>
	
	<footer>
		<div class="website_center" id="JESUISUNTEST">
			<a href="http://www.github.com/Chavjoh/MATHunter"><img src="<%= root_url %>images/github.png" alt="Github" /></a>
			<span>Ruby on rails project</span>
			Chavaillaz Johan, Jupille Dany, Rossier Matthieu
		</div>
	</footer>
	
	<div id="walkthrough">
		<div id="type-modal" style="display:none;">
			<p class="tooltipTitle">It works!</p>
	        <p>F* finally!</p>
	        <br>
	        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
		</div>
		<div id="type-tooltip" style="display:none;">
			<p class="tooltipTitle">It still f* works!</p>
	        <p>I'm so proud of myself.</p>
	        <br>
	        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
	        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
		</div>
		<div id="type-tooltip-top" style="display:none;">
			<p class="tooltipTitle">Arrow!</p>
	        <p>So majestic...</p>
	        <br>
	        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
	        <a href="javascript:;" class="next-step" style="float:right;">Next Step</a>
		</div>
		<div id="done-walkthrough" style="display:none;">
			<p class="tooltipTitle">Woooo !</p>
	        <p>Worked all along!</p>
	        <br>
	        <a href="javascript:;" class="prev-step" style="float:left;">Prev Step</a>
	        <a href="javascript:;" class="restart-step" style="float:center;">Restart Walkthrough</a>
	        <a href="javascript:;" class="close-step" style="float:right;">Close Walkthrough</a>
		</div>
	</div>
	
</body>
</html>
